@tailwind base; @tailwind components; @tailwind utilities;
body { margin: 0; background: #f4f7f3; color: #07111f; }
.grid-bg { background-image: linear-gradient(rgba(255,255,255,.05) 1px, transparent 1px), linear-gradient(90deg,rgba(255,255,255,.05) 1px, transparent 1px); background-size: 34px 34px; }
